In [1]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.preprocessing import LabelEncoder
import pandas as pd
import numpy as np

In [2]:
#baca file
df = pd.read_csv('data2024.csv')

In [3]:
# Tampilkan jumlah nilai kosong per kolom
print("\nJumlah nilai kosong per kolom:")
print(df.isnull().sum())

Jumlah nilai kosong per kolom:
pm10        122
pm25         20
so2          24
co           23
o3           18
no2          42
categori      0
dtype: int64

In [4]:
# Encode kolom kategorikal sebelum imputasi
label_encoder = LabelEncoder()
df['categori'] = label_encoder.fit_transform(df['categori'])

In [5]:
# Pisahkan fitur numerik
features = df.columns.tolist()
numerical_features = [col for col in features if col != 'categori']

In [6]:
# Inisialisasi dan terapkan Multiple Imputation
imputer = IterativeImputer(random_state=0)
df[numerical_features] = imputer.fit_transform(df[numerical_features])

In [7]:
# Dekode kembali kolom kategori
df['categori'] = label_encoder.inverse_transform(df['categori'].astype(int))

In [8]:
# Tampilkan beberapa data hasil imputasi
df.head()

        pm10  pm25   so2   co    o3   no2 categori
0  51.000000  65.0  45.0  9.0   8.0  79.0   SEDANG
1  27.000000  34.0  45.0  5.0   8.0  56.0   SEDANG
2  40.178637  52.0  46.0  6.0   9.0  51.0   SEDANG
3  46.000000  65.0  46.0  8.0   9.0  38.0   SEDANG
4  37.000000  55.0  47.0  7.0  11.0  28.0   SEDANG

In [9]:
df.to_csv('MICE2024.csv')